@page
@model Zammers.Pages.bookcartModel
@{
}

<h1>Shopping Cart</h1>

<table class="d-lg-table table-light table-borderless">
    <thead>
        <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
        
    </tbody>
    <tfoot>
        <tr>
            <td>Total</td>
            <td></td>
        </tr>

    </tfoot>
</table>

@*Addinreturn button*@