@page
@model Zammers.Pages.ConfirmModel
@{
}

@*page to confirm to the user that their cart was submitted successfully*@
<h2>Your order has successfully been submitted</h2>
<h5>Checkout your email for shipping details</h5>
<div class="form-group">
    <a class="btn btn-primary" asp-controller="Home">Back to home</a>

</div>