@page
@model Zammers.Pages.ConfirmModel
@{
}


<h2>Your order has successfully been submitted</h2>
<h5>Checkout your email for shipping details</h5>
<div class="form-group">
    <a class="btn btn-primary" asp-controller="Home">Back to home</a>

</div>