@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
@model UserModel
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Zammers Books Login</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <div class="bg-dark text-white p-2">
        <span class="navbar-brand ml-2">BOOK STORE</span>
    </div>

    <div class="m-1 p-3">
        <div class="text-warning" asp-validation-summary="All"></div>

        <form method="post" asp-controller="Account" asp-action="Login">

            <div class="form-group">
                <label asp-for="UserName">Username:</label>
                <input asp-for="UserName" class="form-control" />

                <label asp-for="Password">Password:</label>
                <input asp-for="Password" type="password" class="form-control" />
            </div>
            <br />
            <br />
            <button class="btn btn-info" type="submit" data-bs-toggle="tooltip" data-bs-placement="toop" title="Click here to Login!!:)">Login</button>
            <input type="hidden" asp-for="ReturnUrl" />
        </form>
    </div>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>
</body>
</html>
